h4.yellow-theme{
    color: #ffe042;
    text-align: center;
    font-size: 4vw;
    position: absolute;
    top: 40vh;
    left: 30vw;
    background-color: rgba(0, 0, 0, 0.213);
  }

#filter_box.yellow-theme
{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  background-color: #f6ff003f;
  transition: all 0.5s ease;
}
#btn.yellow-theme
{
    width: 95%;
    height: 40px;
    background: #ffa704;
    color: #000;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffa704;
    font-size: 15px;
    font-weight: 600;
    transition: 1s;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 2.5%;
}

#btn:hover.yellow-theme
{
    background: transparent;
    border: 1px solid #ffa704;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 20px #ffa704;
}